body{
    font-family: 'Roboto', sans-serif;
}

img{
    width: 100px;
    height: 100px;
    float: left;
}

.topnav{
    background-color: #1B263B;
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
.topnav a{
    float: left;
    color: #FFFFFF;
    text-align: center;
    padding: 41.5px 50px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.topnav a:hover{
    background-color: #ddd;
    color: #1B263B;
}

.image{
    background: url(images/picture.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 100px 100px 300px 100px;
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    color: #1B263B;
}

.test1{
    background-color: #1B263B;
    height: 500px;
    width: 100%;  
}

.test2{
    background-color: #1B263B;
    height: 600px;
    width: 100%;
}

.test3{
    background-color: #1B263B;
    height: 250px;
    width: 100%;
    color: #FFFFFF;
    font-size: 30px;
    text-align: center;
    padding: 50px 0px 0px 0px;  
}

.intro1{
    color: #FF8058;
    padding: 50px 100px 10px 100px;
}

.intro2{
    font-size: 30px;
    color: #FFFFFF;
    padding: 10px 100px 0px 100px;
}

.container{
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: auto auto auto;
    background-color: #1B263B;
    padding: 10px 100px;
}

.grid-item{
    background-color: #FFFFFF;
    padding: 20px;
    font-size: 15px;
    text-align: center;
    border-radius: 25px;
    color: #1B263B;
}





